.d1 {
    text-align: right;
    margin-right: 90px;
    margin-top: 120px;
    padding-top: 200px;
    padding-right: 00px;
}

.head1 {



    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;

    text-align: right;

}

.p1 {
    font-family: 'Work Sans';
    text-align: right;

    height: 78px;

    margin: top 468px;
    margin: bottom 262px;
    margin: left 87px;
    margin: right 230p;
}

/* There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words */

/*.b1
 {
    color: rgb(243, 249, 255);

    border-right: 110px margin-right; 110px;
    background: #fd6e0a;
    padding: 10px, 30px;
    margin: 40px, 35px;
}*/




.n2 {
    text-align: center;
    display: flex;
    background-size: 900px, 300px;
}

.p2 {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 780px;
    top: 1070px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;





}

.head3 {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 780px;
    top: 940px;


    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

ul {
    position: absolute;
    width: 349px;
    height: 162px;
    left: 760px;
    top: 1150px;
}

.n3 {
    text-align: center;
    margin: top 1178px;
    margin: right 322px;
    margin: left 860px;

    border: 416px, 400px;
}

.line1 {
    text-align: center;
    font-family: sans-serif;
}

.div3 {
    display: flex;


    text-align: center;
    justify-content: space-around;


}



div {
    background-image: url(./banner1.png);

    background-repeat: no-repeat;
    border: 1600px, 808px;
}

.btn1 {
    background-color: orange;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.div4 {
    background-image: url(./watch.png);
    background-repeat: no-repeat;
    margin-left: 40px;
    margin: right 230px;
    margin: top 1100px;
    
    

}

.btn2 {
    font-family: 'Work Sans';
    font-style: normal;
    line-height: 23px;
    text-align: center;
    color: #F15B22;



}

.head2 {

    color: #FFFFFF;
    margin: left 64px;
}

.l4 {
    margin: left 64px;
}
.plast{

    color: #F8F8F8
}
.div5{
    background-color: black;
    display: flex;
}
section{
    display: flex;
}
